__pycache__/
*.ipynb_checkpoints/
*.csv
*.log
# Ignora i risultati delle pipeline MLflow
mlruns/
mlartifacts/
tf-venv/
.DS_Store

# Ignora modelli troppo grandi
src/modeling/models/baseline2/
src/modeling/models/baseline/

# Ignora l'ambiente virtuale
tf-venv/
src/modeling/models/
tf-venv/
